importFrom("magrittr", "%>%")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("methods", "as")
export(accumulate_flow)
export(accumulate_runoff_addition)
export(average_monthly_runoff)
export(average_monthly_runoff.HSgrid)
export(average_monthly_runoff.RasterBrick)
export(average_monthly_runoff.RasterStack)
exportMethods(average_monthly_runoff.HSgrid)
exportMethods(average_monthly_runoff.RasterBrick)
exportMethods(average_monthly_runoff.RasterStack)
export(compute_area_weights)
export(compute_river_weights)
export(compute_runoff_using_area)
export(compute_runoff_using_line)
export(compute_segment_runoff)
export(compute_segment_runoff.HSrgrid)
export(compute_segment_runoff.HSragrid)
exportMethods(compute_segment_runoff.HSrgrid)
exportMethods(compute_segment_runoff.HSragrid)
export(compute_weights)
export(delineate_basin)
export(flow_network)
export(polygrid_timeseries)
export(river_hierarchy)
export(river_outlets)
export(river_voronoi)
export(split_river_with_grid)
